/* -------------------------------- 

Primary style

-------------------------------- */
html,body,h1,h2,h3,h4,h5,p,span{margin: 0px; }
header, section, footer, aside, nav, main, article, figure {display: block; }

body {font-size: 100%; font-family: "Open Sans", sans-serif; color: #4e5359; background-color: #F8F8F8; margin: 0px; } a {color: #212834; text-decoration: none; }
/*Header Style*/
header{background:#212834; box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, -0.81); color: #fff; display: flow-root; width: 100%; }
.head_left {float: left; padding: 7px 40px; }
.head_right {float: right; padding: 22px 35px; }
.nm{font-family: mocahass; }
/*Main Section*/
.main{width: 65%; margin: auto; }
.inner{align-items: center; justify-content: center; margin: 0px auto; margin-top: 2% ; text-align: center; width: 100%; float: left;}
.img_p{width: 100%; display: block; margin-top: 2%;} 
.inner .inner_p{padding: 20px; display: block; width: 60%; margin: auto; color: #666666; letter-spacing: 0.5px; }
.fbbutton{margin-top: 35px; width: 30%; height: 60%; }
.fb_iframe_widget{vertical-align: top; margin-right: 10px; }
#___follow_0{margin-left:  10px !important; } 
.main_title{background: #e5e5e5; color: #333; font-size: 20px; padding: 10px 50px; clear: both; text-transform: capitalize; }
.main_title small{font-size: 13px;}
.lft_add{float: left;}
.rgt_add{float: right;}

/*Other Posts*/
.content--related {font-weight: bold; text-align: center; margin-top: 100px; display: block; width: 100%; clear: both;}
.content {padding: 1em 0 4em; } 
.content--related {-webkit-transition: opacity 300ms ease-in-out; transition: opacity 300ms ease-in-out; }
.media-item {display: inline-block; padding: 1em; vertical-align: top; -webkit-transition: color .3s; transition: color .3s; }
.media-item__img {max-width: 100%; opacity: .3; -webkit-transition: opacity .3s; transition: opacity .3s; }
.media-item__title {font-size: 1em; margin: 0; padding: .5em; }
.media-item:hover .media-item__img, .media-item:focus .media-item__img {opacity: 1; }

/*View Page*/
.clor{color: #fff;}
.wthree_tab_content_pos {width: 60%; padding: 1.5em; background: #212834; text-align: left; margin: auto; }
.wthree_tab_content_pos_grid {padding: 1.5em; border: 4px double #fff; }
.wthree_tab_content_pos_grid h2 {font-size: 1.2em; color: #000; background: #FFEB00; display: inline-block; padding: .5em 1.5em; position: relative; }
.wthree_tab_content_pos_grid h2:before {width: 0; height: 0; position: absolute; content: ''; bottom: -9px; left: 12px; border-style: solid; border-width: 13px 40px 0 0px; border-color: #FFEB00 transparent transparent transparent; }
.wthree_tab_content_pos_grid h3 {font-size: 2em; color: #fff; margin: 0.5em 0 0; } 
.wthree_tab_content_pos_grid h6 {font-size: 1em; color: #fff; margin-top: 0.8em; }
ul.address {margin-top: 1em; border-top: 1px solid #fff; padding-top: 0.5em; padding-left: 0px; }
ul.address li {display: block; } ul.address li ul.address-text{padding-left: 0px; }
ul.address li ul.address-text li {display: inline-block; color: #fff; margin-top: 1em; font-weight: 100; }
.wthree_tab_content {position: relative; width: 75%; margin: 0 auto; }
.cover{width: 100%; }
.profile_pic{margin-top: 0;margin-left: 35%;width: 25%;border: 2px double #fff;padding: 5px; }